{{!--------------------------------------------
===============================================
Legacy HTML HEADER
===============================================
---------------------------------------------}}
<!doctype html>
<!--[if IE 9]>         <html class="{{#is dir "rtl"}}ups-rtl {{/is}}no-js ie9" dir="{{dir}}" lang="{{lang}}"> <![endif]-->
<!--[if gt IE 9]><!--> <html class="{{#is dir "rtl"}}ups-rtl {{/is}}no-js" dir="{{dir}}" lang="{{lang}}"> <!--<![endif]-->

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{{title}} | {{site.title}}</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="shortcut icon" href="/favicon.ico?v=2" />


    <script  src="https://wwwapps.ups.com/assets/framework/jquery/jquery-1.11.1.js" type="text/javascript" charset="utf-8"></script>
    <script  src="https://wwwapps.ups.com/assets/framework/jquery/plugin/jqueryui/jquery-ui-1.11.1.js" type="text/javascript" charset="utf-8"></script>
    <script  src="https://wwwapps.ups.com/assets/framework/jquery/plugin/jqprint/jqprint.0.3.js" type="text/javascript" charset="utf-8"></script>
    <script  src="https://wwwapps.ups.com/assets/framework/jquery/plugin/thickbox/thickbox-3.1.2.js" type="text/javascript" charset="utf-8"></script>

    <link rel="stylesheet" type="text/css"  href="https://wwwapps.ups.com/assets/framework/jquery/plugin/jqueryui/jquery-ui.css?V=0715">
    <script src="https://wwwapps.ups.com/assets/calendar/201107_00_01/calendar_201107_00_01_en_US.transient.js" type="text/javascript" charset="utf-8"></script>


    <script language="JavaScript1.2" src="https://wwwapps.ups.com/javascript/global.js?V=0715" TYPE="text/javascript"></script>
    <script language="JavaScript1.2" src="https://wwwapps.ups.com/javascript/webtrends.load.js?V=0715" TYPE="text/javascript"></script>
    <script src="https://wwwapps.ups.com/assets/cclamp/cfevents.js?V=0715" type="text/javascript" charset="utf-8"></script>


    


    <!-- build:css(.tmp) assets/resources/styles/ups.vendor{{#is dir "rtl"}}-rtl{{/is}}.css -->
    <link rel="stylesheet" href="assets/resources/styles/ups.vendor{{#is dir "rtl"}}-rtl{{/is}}.css">
    <!-- endbuild -->

    <!-- build:css(.tmp) assets/resources/styles/ups.styles{{#is dir "rtl"}}-rtl{{/is}}.css -->
    <link rel="stylesheet" href="assets/resources/styles/ups.styles{{#is dir "rtl"}}-rtl{{/is}}.css">
    <!-- endbuild -->

    <!-- build:js assets/resources/scripts/vendor/modernizr.js -->
    <script src="bower_components/modernizr/modernizr.js"></script>
    <!-- endbuild -->

    <!--    WEM_Styles Style    -->

	<link rel="stylesheet" href="assets/resources/styles/ups.legacy_override_global.css">
	<link rel="stylesheet" href="assets/resources/styles/ups.legacy_overrideDOL.css">

</head>

<body{{#if app}} class="ups-appPage"{{/if}}{{#if mobileApp}} class="ups-mobileAppPage"{{/if}}>
