{{!--------------------------------------------
===============================================
Helper Link
===============================================
---------------------------------------------}}

<div class='ups-helper'>
    {{#if this.icon}}
    <span class="icon {{this.icon}}" aria-hidden="true"></span>
    {{/if}}
    {{#if this.image}}
    <div class="ups-helper_imgCont">
        <img src="{{this.image.src}}" alt="{{this.image.alt}}">
    </div>
    {{/if}}
    <h3>{{this.text}}</h3>
    <a href="{{this.url}}">{{this.link}}</a>
</div>
