<!-- ************************************************************************************ -->
<!-- M17 Form Confirmation                                                                -->
<!-- ************************************************************************************ -->

{{!--
********************************************************************************
M17 FORM CONFIRMATION: -LAYOUT-
********************************************************************************

| 60px
-header-
| 45px
-desc-
| 30px
-cta-
| 60px

********************************************************************************
--}}

<div class="ups-formConfirmation_wrap ups-wrap">
   <div class="ups-wrap_inner">
        
        {{#if this.title}}<h2 class="ups-article-header">{{this.title}}</h2>{{/if}}
        
        {{#if this.header}}<h3>{{{this.header}}}</h3>{{/if}}

        {{#if this.copy}}<p>{{{this.copy}}}</p>{{/if}}

        <div class="ups-form_ctaGroup">
            {{#each cta}}
                <button class="ups-cta ups-cta_{{this.type}}">{{this.label}}</button>
            {{/each}}
        </div>
   </div>
</div>

