{{!--------------------------------------------
===============================================
Follow Me
===============================================
---------------------------------------------}}

<div class="ups-follow-me" data-expand="true">
    {{#if this.title}}<h2>{{title}}</h2>{{/if}}
    <ul>
       {{#each this.links}}
        <li>
            <a href="{{url}}">
                <h3>{{#if icon}}<span class="ups-icon-{{icon}}" aria-hidden="true"></span>{{/if}}{{subtitle}}</h3>
                {{#if copy}}<p>{{copy}}</p>{{/if}}
            </a>
        </li>
        {{/each}}
    </ul>
</div>