{{!--------------------------------------------
===============================================
SUB ARTICLE LIST
===============================================
---------------------------------------------}}

<section class="ups-subarticles ups-wrap">
    <div class="ups-wrap_inner">

        <div class="subarticle-header">
            <h2 class="ups-article-header">{{subArticleList.header}}</h2>
        </div>

        <div class="subarticle-content row">
            {{#each subArticleList.article}}
            <div class="subarticle-container col-sm-6">
                <a href=''>
                    <div class="subarticle">
                        <img src="{{image.src}}" alt="{{image.alt}}" />
                        <div class="txt-container">
                            <h3>{{title}}</h3>
                            <p>{{txt}}</p>
                            <span class="ups-icon-chevronright ups-iconAlone" aria-hidden="true">
                        <span class="ups-readerTxt">Go To {{title}}</span>
                            </span>
                        </div>
                    </div>
                </a>
            </div>
            {{/each}}
        </div>
        
    </div>
</section>