<form action="repl_fname">
        
        <!-- Begin Application Module -->
        <div class="appLvl col24 mod"> 
          
          <!-- Begin Application Header -->
          <div class="appHead clearfix">
            <h2>{Application Header}</h2>
            <ul>
              <li> <a href="repl_href" class="btnlnkR helpIconR">{Help link text}</a> </li>
            </ul>
          </div>
          <!-- End Application Header --> 
          
          <!-- Begin Application Body -->
          <div class="appBody clearfix"> 
            
            <!-- Begin Section Module -->
            <div class="secLvl clearfix"> 
              
              <!-- Begin Section Header --><!-- End Section Header --> 
              
              <!-- Begin Section Body -->
              <div class="secBody clearfix">
                <p>Fusce ac quam. Donec neque. Nunc venenatis enim nec quam. Cras faucibus, justo vel accumsan aliquam, tellus dui fringilla quam, in condimentum augue lorem non tellus. Pellentesque id arcu non sem placerat iaculis.</p>
                <p>Praesent sollicitudin lacinia nisl. Vivamus ut magna eget tellus tincidunt elementum. Maecenas aliquam tincidunt nisl. Proin nulla. Nullam bibendum tincidunt risus. Etiam porttitor gravida lorem. Aliquam erat volutpat. Maecenas venenatis, metus eu congue rhoncus, tellus sapien dictum nisi, id mattis est ante sed lacus. Etiam non justo.</p>
                <p>Duis aute irure dolor cupidatat non proident, sed do eiusmod tempor incididunt. Ullamco laboris nisi ut enim ad minim veniam, in reprehenderit in voluptate.</p>
                <select>
                  <option>item1</option>
                </select>
                <p>Fusce ac quam. Donec neque. Nunc venenatis enim nec quam. Cras faucibus, justo vel accumsan aliquam, tellus dui fringilla quam, in condimentum augue lorem non tellus. Pellentesque id arcu non sem placerat iaculis.</p>
                <p>Praesent sollicitudin lacinia nisl. Vivamus ut magna eget tellus tincidunt elementum. Maecenas aliquam tincidunt nisl. Proin nulla. Nullam bibendum tincidunt risus. Etiam porttitor gravida lorem. Aliquam erat volutpat. Maecenas venenatis, metus eu congue rhoncus, tellus sapien dictum nisi, id mattis est ante sed lacus. Etiam non justo.</p>
                <p>Duis aute irure dolor cupidatat non proident, sed do eiusmod tempor incididunt. Ullamco laboris nisi ut enim ad minim veniam, in reprehenderit in voluptate.</p>
                <p>Fusce ac quam. Donec neque. Nunc venenatis enim nec quam. Cras faucibus, justo vel accumsan aliquam, tellus dui fringilla quam, in condimentum augue lorem non tellus. Pellentesque id arcu non sem placerat iaculis.</p>
                <p>Praesent sollicitudin lacinia nisl. Vivamus ut magna eget tellus tincidunt elementum. Maecenas aliquam tincidunt nisl. Proin nulla. Nullam bibendum tincidunt risus. Etiam porttitor gravida lorem. Aliquam erat volutpat. Maecenas venenatis, metus eu congue rhoncus, tellus sapien dictum nisi, id mattis est ante sed lacus. Etiam non justo.</p>
                <p>Duis aute irure dolor cupidatat non proident, sed do eiusmod tempor incididunt. Ullamco laboris nisi ut enim ad minim veniam, in reprehenderit in voluptate.</p>
                <p>Fusce ac quam. Donec neque. Nunc venenatis enim nec quam. Cras faucibus, justo vel accumsan aliquam, tellus dui fringilla quam, in condimentum augue lorem non tellus. Pellentesque id arcu non sem placerat iaculis.</p>
                <p>Praesent sollicitudin lacinia nisl. Vivamus ut magna eget tellus tincidunt elementum. Maecenas aliquam tincidunt nisl. Proin nulla. Nullam bibendum tincidunt risus. Etiam porttitor gravida lorem. Aliquam erat volutpat. Maecenas venenatis, metus eu congue rhoncus, tellus sapien dictum nisi, id mattis est ante sed lacus. Etiam non justo.</p>
                <p>Duis aute irure dolor cupidatat non proident, sed do eiusmod tempor incididunt. Ullamco laboris nisi ut enim ad minim veniam, in reprehenderit in voluptate.</p>
                <p>Fusce ac quam. Donec neque. Nunc venenatis enim nec quam. Cras faucibus, justo vel accumsan aliquam, tellus dui fringilla quam, in condimentum augue lorem non tellus. Pellentesque id arcu non sem placerat iaculis.</p>
                <p>Praesent sollicitudin lacinia nisl. Vivamus ut magna eget tellus tincidunt elementum. Maecenas aliquam tincidunt nisl. Proin nulla. Nullam bibendum tincidunt risus. Etiam porttitor gravida lorem. Aliquam erat volutpat. Maecenas venenatis, metus eu congue rhoncus, tellus sapien dictum nisi, id mattis est ante sed lacus. Etiam non justo.</p>
                <p>Duis aute irure dolor cupidatat non proident, sed do eiusmod tempor incididunt. Ullamco laboris nisi ut enim ad minim veniam, in reprehenderit in voluptate.</p>
              </div>
              <!-- End Section Body --> 
              
              <!-- Begin Section Footer --><!-- End Section Footer --> 
              
            </div>
            <!-- End Section Module --> 
            
          </div>
          <!-- End Application Body --> 
          
          <!-- Begin Application Footer --><!-- End Application Footer --> 
          
        </div>
        <!-- End Application Module -->
        
      </form>
<div class="appLvl mod modal dialog">
    {{#unless tooltip}}
    <div class="appHead clearfix">
        <h2>Shipment Details</h2>
        <ul>
            <li>
                <input id="modalClose" type="button" title="Close" class="btnlnkL closeIcon">
            </li>
        </ul>
    </div>
    <div class="appBody"> 
    {{/unless}}
        <!-- Begin Section Module -->
        <div class="secLvl clearfix"> 
            
            <div class="secBody">
                <strong>Limited Options:</strong> Tracking actions are limited; the shipment delivery address does not match your UPS My Choice address.
            </div>

            <!-- Begin Section Header -->
            <div class="secHead clearfix">
                <h3>{{#unless header_blank}}Books from Amazon - {{/unless}}1Z1234567890123456</h3>
            </div>
            <!-- End Section Header --> 
            <!-- Begin Section Body -->
            <div class="secBody">
                {{#unless tooltip}}
                <div class="subcol13 marginBegin">
                {{/unless}}
                    <dl class="outHozFixed outHozFixedCol5 clearfix" role="presentation">
                        {{#each list_item}}
                            <dt> <span class="label">{{label}}</span> </dt>
                            <dd class="formcol8">
                                {{#if link}}
                                    <a href="repl_href" class="btnlnkR helpIconR">{{link_text}}</a>
                                {{/if}}
                                
                                {{{title_text}}}
                                
                                {{#if copy_link}}
                                	Import Fees {{#if paid}}Paid{{else}}Due{{/if}} 
                                    <a href="repl_href" class="btnlnkR helpIconR">{{#if paid}}View Details{{else}}Pay Now{{/if}}</a>
                                {{/if}}
                                
                                {{{copy}}}
                                
                                {{#if address}}
                                	<br/>1234 Main St<br/>Roswell, GA, 30076 US
                                {{/if}}
                                
                                {{#if phone}}
                                	<br/>Tel: 555-123-4567
                                {{/if}}
                                
                                {{#if email}}
                                	<br/>store@email.com
                                {{/if}}
                                
                                {{#if sig_requ_link}}
                                	<br/>Signature Required
                                    <br/><a href="repl_href">Authorize Shipment Release</a>
                                {{/if}}
                                
								{{{dd_note}}}
                               
                            </dd>
                        {{/each}}
                    </dl>
                  	<div class="clear"></div>
                
                {{#unless tooltip}}
                </div>
                {{/unless}}
                {{#unless no_btn}}
                <div class="floatEnd subcol7 marginEnd">
                	{{#if cd_btn}}<button value="" type="submit" class="button btnGroup7 btnGradient btnGradient7 arrowIconRight formcol7 clearfix" style="background-position: 0pt -2px;">Change Delivery </button>{{/if}}
                    {{#if da_btn}}<button value="" type="submit" class="button btnGroup7 btnGradient btnGradient7 arrowIconRight formcol7 clearfix" style="background-position: 0pt -2px;">Delivery Alerts</button>{{/if}}
                    {{#if s2dw_btn}}<button value="" type="submit" class="button btnGroup7 btnGradient btnGradient7 arrowIconRight formcol7 clearfix" style="background-position: 0pt -2px;">Select a 2-hour Delivery Window</button>{{/if}}
                    {{#if pdi_btn}}<button value="" type="submit" class="button btnGroup7 btnGradient btnGradient7 arrowIconRight formcol7 clearfix" style="background-position: 0pt -2px;">Provide Delivery Instructions</button>{{/if}}
                    {{#if di_btn}}<button value="" type="submit" class="button btnGroup7 btnGradient btnGradient7 arrowIconRight formcol7 clearfix" style="background-position: 0pt -2px;">Driver Instructions</button>{{/if}}
                    {{#if rtp_btn}}<button value="" type="submit" class="button btnGroup7 btnGradient btnGradient7 arrowIconRight formcol7 clearfix" style="background-position: 0pt -2px;">Return This Package</button>{{/if}}
                </div> 
                {{/unless}}
                <div class="clearfix"></div>
                {{#if ua_alt}}
                	<br/>
                    <p>To make your {UPS SurePost}[?]t/UPS Basic[?]} package eligible fore UPS My Choice features, <a href="repl_href" class="btnlnkR arrowIconR">upgrade now to UPS Ground</a></p>
                    <p>Upgraded packages typically arrive one day earlier</p>
                    <p><strong>Note:</strong>
                        <ul class="lstBullet">
                            <li>Free upgrade for UPS My Choice Premium Members</li>
                            <li>{$3.50 USD} per pacage fee for UPS My Choice Members</li>
                        </ul>
                    </p>
                    <p><strong>Note:</strong> UPS My Choice features, including upgrade to UPS Ground, are not available for this package. Reasons may include: the package is currently out for delivery or has been delivered.</p>
                {{/if}}
                
                {{#if reminder}}
                    <p><strong>Reminder:</strong> Your shipment has been delivered to the listed ups UPS Access Point, and will be held for seven calendar days. Shipments not picked up by mm/dd/yyy will be returned to the shipper.</p>
                {{/if}}
                
                {{#if surepost}}
                    <p><strong>Note:</strong> {UPS SurePost/UPS Basic} packages are not eligible for UPS My Choice features. Gain access to UPS My Choice 
                    features by upgrading this package to UPS Ground. Upgraded packages will typically be delivered one day earlier.</p>
                    <br />
                    <p><strong>Note:</strong> UPS My Choice features, including upgrade to UPS Ground, are not available for this package. Reasons may 
                    include: the package is currently out for delivery or has been delivered.</p>
                {{/if}}
                
                {{#if not_available}}
                    <p><strong>Note:</strong> UPS My Choice features, including upgrade to UPS Ground, are not available for this package. Reasons may includ: the package is currently out for delivery or has been delivered.</p>
                {{/if}}
                            
                {{#if trac_det_link}}
                    <p><a href="repl_href">View Full Tracking Details &gt;</a></p>
                {{/if}}
                
                {{#if par}}
                    <br/>
                    <dl role="presentation">
                        <dt><span class="label">The sender has pre-approved the return of this package.</span></dt>
                        <dd>Get a return label before <strong>[11/21/2010]</strong></dd>
                    </dl>
                    <dl role="presentation">
                        <dt><span class="label">{{#if par_link}}<a href="repl_href" class="btnlnkR helpIconR">{{/if}}Return Package Tracking Number{{#if par_link}}</a>{{/if}}</span></dt>
                        <dd>{{#if par_link}}<a href="repl_href">{{/if}}1Z1234567890123454{{#if par_link}}</a>{{/if}}</dd>
                    </dl>
                {{/if}}
            </div>
            
            {{#if original_v4}}
            <!-- Begin Section Body -->
            <div class="secBody">
                <div class="subcol13 marginBegin">
                    <dl class="outHozFixed outHozFixedCol5" role="presentation">
                        <dt> <span class="label">Status:</span> </dt>
                        <dd> <span><a href="repl_href" class="btnlnkR helpIconR">in transit</a></span><br/>
                            <span>exception</span> </dd>
                        <dt> <span class="label">Scheduled Delivery:</span> </dt>
                        <dd> day, mm/dd/yyyy<br/>
                            not available </dd>
                        <dt> <span class="label">Estimated Delivery Time:</span> </dt>
                        <dd> nn:nn a.m. - nn:nn p.m. </dd>
                        <dt> <span class="label">Delivered On:</span> </dt>
                        <dd> nn:nn a.m. - nn:nn p.m. </dd>
                        <dt> <span class="label">From:</span> </dt>
                        <dd> abc corp <br>
                            city, st, country or territory </dd>
                        <dt> <span class="label">To:</span> </dt>
                        <dd class="formcol8"> <span><b>{service location}</b></span><br/>
                            <span>{name/store}<br/>
                            {street}<br/>
                            {city, state, zip}</span><br/>
                            <span>tel: 555-555-5555<br/>
                            store@email.com</span><br/>
                            <span>pickup by: <span>01/01/2013</span></span>
                            <p><strong>note:</strong> a delivery change request ({service}) was applied to this shipment.</p>
                        </dd>
                        <dt> <span class="label">Store Location:</span> </dt>
                        <dd> the ups store<br/>
                            1010 Mansell Rd.<br/>
                            roswell, GA, US 30076<br/>
                            Tel: 555-123-4567<br/>
                            store@email.com </dd>
                        <dt> <span class="label">Special Instructions:</span> </dt>
                        <dd> Import Fees Due&nbsp;&nbsp;<a href="repl_href" class="anchor infoAnchor hozAnchor btnlnkR helpIconR">Pay Now</a><br>
                            Import Fees Paid&nbsp;&nbsp;<a href="repl_href" class="anchor infoAnchor hozAnchor btnlnkR helpIconR">View Details</a><br>
                            c.o.d. - nn.nn usd, check <br>
                            Direct Delivery Only<br>
                            signature required <br>
                            <a class="link indent" href="repl_href">authorize shipment release</a> </dd>
                        <dt> <span class="label">Leave At:</span> </dt>
                        <dd> location </dd>
                    </dl>
                    <br class="clear">
                    <p><strong>reminder:</strong> your shipment has been delivered to the listed ups UPS Access Point, and will be held for seven calendar days. shipments not picked up during this time will be returned to the shipper.</p>
                    <p><strong>Note:</strong> Gain access to UPS My Choice features by upgrading this package to UPS Ground.<br/>
                    <p><strong>note:</strong> {ups surepost/ups basic} packages are not eligible for ups my choice features ... paragraph text.</p>
                    <p>To make your {UPS SurePost[?]t/UPS Basic[?]} package eligible fore UPS My Choice features, <a href="repl_href" class="btnlnkR arrowIconR">upgrade now to UPS Ground</a></p>
                    <p>Upgraded packages typically arrive one day earlier</p>
                    <p><strong>Note:</strong>
                    <ul class="lstBullet">
                        <li>Free upgrade for UPS My Choice Premium Members</li>
                        <li>{$3.50 USD} per pacage fee for UPS My Choice Members</li>
                    </ul>
                    </p>
                    <p><strong>note:</strong> ups my choice features, including upgrade to ups ground, are not available for this package ... paragraph text.</p>
                    </p>
                    <p><a href="repl_href" class="btnlnkR arrowIconR">view full tracking details</a></p>
                </div>
                <div class="floatEnd subcol7 marginEnd">
                    <button value="" type="submit" class="button btnGroup7 btnGradient btnGradient7 arrowIconRight formcol7 clearfix" style="background-position: 0pt -2px;">change delivery </button>
                    <button value="" type="submit" class="button btnGroup7 btnGradient btnGradient7 arrowIconRight formcol7 clearfix" style="background-position: 0pt -2px;">delivery alerts</button>
                    <button value="" type="submit" class="button btnGroup7 btnGradient btnGradient7 arrowIconRight formcol7 clearfix" style="background-position: 0pt -2px;">select a 2-hour delivery window</button>
                    <button value="" type="submit" class="button btnGroup7 btnGradient btnGradient7 arrowIconRight formcol7 clearfix" style="background-position: 0pt -2px;">provide delivery instructions</button>
                    <button value="" type="submit" class="button btnGroup7 btnGradient btnGradient7 arrowIconRight formcol7 clearfix" style="background-position: 0pt -2px;">driver instructions</button>
                </div>
            </div>
            <!-- End Section Body --> 
            {{/if}}
        </div>
        <!-- End Section Module --> 
    
    {{#unless tooltip}}
    </div>
    <div class="appFooter">
        <div class="btnBar alignCenter">
            <input name="" type="button" value="close" class="btn">
        </div>
    </div>
    {{/unless}}
</div>
<script type="text/javascript">

	$(document).ready(function(){
		var modal=$('.modal').dialog({modal:true,bgiframe:true,dialogClass:'modal',width:790});
		$('#modalClose').click(function(e){
				modal.dialog('close');
		});
	});

	$(document).ready(function(){
		$('.btnGradient7').hover(function(){
			$(this).css("background-position","0 -20px");
			//$(this).animate( { backgroundPositionY: "-30px" }, 10 );
		},function(){
			//$(this).animate( { backgroundPositionY: "-4px" }, 1000 );
			$(this).css("background-position","0 0px");
		});
	});

</script> 

