<section class="panel {{#if skin}}{{skin}}{{else}}panel-default{{/if}}">
	{{#if heading_copy}}
	<div class="panel-heading">
		{{#if title}}<h{{heading_level}} class="panel-title">{{/if}}
		{{{heading_copy}}}
		{{#if title}}</h{{heading_level}}>{{/if}}
	</div>
	{{/if}}
	<div class="panel-body">
		{{{body_copy}}}
	</div>
	{{#if footer_copy}}
	<div class="panel-footer">{{{footer_copy}}}</div>
	{{/if}}
</section>